/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*General Project Styles*/
    font-family: "Protest Revolution", sans-serif;
    color: #D30606;
  }
  /*General Styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url("../images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #525252;
  }
  /*Index Main Content*/
h1{
    text-align: center;
    font-size: 400%;
    margin-top: 100px;
    margin-bottom: 50px;
}
#welcome{
    text-align: center;
    font-size: 150%;
    margin-left: 15px;
    margin-right: 15px;
}
#entrance{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    display: grid;
}
#entrance-bttn{
    font-size: 200%;
    padding:15px 50px;
    border-radius: 16px 0px;
    color: white;
    background-color: #D30606;
    transition-duration: 0.4s;    
}
#entrance-bttn:hover{
    background-color: white;
    color: #D30606;
}

#dice-img-section{
    text-align: center;
    margin-top: 10px;
}
#dice-img{
    padding-top: 10px;
    width: auto;
    height: auto;
}



