/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*General Project Styles*/
    font-family: "Protest Revolution", sans-serif;
    color: #D30606;
  }
  /*General Styles*/
body{
    min-height: 100vh;
    flex-direction: column;
    background-image:url("../images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #525252;
  }
  /*Index Main Content*/
#home-heading{    
    font-size: 400%;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
#welcome{
    font-size: 150%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}
#entrance{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    display: grid;
}
#entrance-bttn{
    font-size: 200%;
    padding:15px 50px;
    border-radius: 16px 0px;
    color: white;
    background-color: #D30606;
    transition-duration: 0.4s;    
}
#entrance-bttn:hover{
    background-color: white;
    color: #D30606;
}

#dice-img-section{
    text-align: center;
    margin-top: 10px;
}
#dice-img{
    padding-top: 10px;
    width: auto;
    height: auto;
}

#instructions{
    margin: 25 50px;
    width: 50px;
    text-align: center;
}
#instruction-steps{
    margin: 25px;
    text-align: center;
}
ul{
    list-style-type: none;
}

/*Dice.html Main Content*/
#dice-heading{    
    font-size: 175%;
    margin-top: 15px;
    margin-bottom: 35px;
    text-align: center;
}
a{
    text-decoration: none;
}
#dice-name{
    margin-bottom: 7px;
    font-size: 250%;
}
#dice-cat{
    margin-bottom: 10px;
    width: 50px;
    font-size: 150%;
}
.btn{
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 150%;
    color: white;
    background-color: #D30606;
    transition-duration: 0.4s;
    border-radius: 16px 0px 
}
.btn:hover{
    background-color: white;
    color: #D30606;
}
.results{
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 175%;
}
#dice-area{
    border: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 3em;
    align-items: baseline;
    margin:0px 45px ;
}

#home-btn{
    margin-left: 35%;
}

#hm-btn{
    margin-bottom: 10px;    
    width: 50%;
    padding: 10px 10px;
    font-size: 150%;
    color: white;
    background-color: #D30606;
    transition-duration: 0.4s;
    border-radius: 16px 0px
}

#hm-btn:hover{
    background-color: white;
    color: #D30606;
}
#reset:hover{
    background-color: white;
    color: #D30606;
}

#refresh-area{
    margin-left: 35%;
    margin-bottom: 5%;
    margin-top: 25px;
}

#reset{
    margin-bottom: 10px;    
    width: 50%;
    padding: 10px 10px;
    font-size: 125%;
    color: white;
    background-color: #D30606;
    transition-duration: 0.4s;
    border-radius: 16px 0px
}
/*Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #instructions{
        margin: 25 50px;
        width: 50px;
        text-align: center;
        font-size: 125%;
    }
    #instruction-steps{
        margin: 25px;
        text-align: center;
    }
    #dice-area{       
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        gap: 3em;
        align-items: center;
        margin:0px 10% ;
    }
    .btn{
        margin-bottom: 10px;
        padding: 15px 10px;
        font-size: 150%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px 
    }

}
/*Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px){
    #dice-area{
        border: white;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 5em;
        align-items: baseline;
        margin:0px 10% ;
    }
    .btn{
        margin-bottom: 10px;
        padding: 25px 13px;
        font-size: 125%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px 
    }

}





  /*Media query: Desktops and larger (1200px and up) */
  @media screen and (min-width: 1200px) {
    #instructions{
        margin: 25 50px;
        width: 50px;
        text-align: center;
        font-size: 150%;
    }
    #instruction-steps{
        margin: 25px;
        text-align: center;
    }
    #dice-area{
        border: white;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 3em;
        align-items: baseline;
        margin:0px 25% ;
    }
    

   
}
  /*Media query: Desktops and larger (1440px and up) */
  @media screen and (min-width: 1440px) {
    #instructions{
        margin: 25 50px;
        width: 50px;
        text-align: center;
        font-size: 150%;
    }
    #instruction-steps{
        margin: 25px;
        text-align: center;
    }
    #dice-area{
        border: white;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 7em;
        align-items: baseline;
        margin:0px 14% ;
    }
    .btn{
        margin-bottom: 10px;
        padding: 25px 20px;
        font-size: 150%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px 
    }

   
}
  
  /*Media query: Desktops and larger (2560px and up) */
  @media screen and (min-width: 2560px) {
    #instructions{
        margin: 25 50px;
        width: 50px;
        text-align: center;
        font-size: 275%;
    }
    #instruction-steps{
        margin: 25px;
        text-align: center;
    }

    #home-heading{    
        font-size: 900%;
        margin-top: 25px;
        margin-bottom: 15px;
        text-align: center;
    }

    #welcome{
        font-size: 650%;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    #dice-area{
        border: white;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 6em;
        align-items: baseline;
        margin:0px 8% ;
        font-size: 250%;
    }
    .btn{
        margin-bottom: 10px;
        padding: 50px 35px;
        font-size: 130%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px 
    }

    #hm-btn{
        margin-bottom: 10px; 
        margin-left: 160px;   
        width: 25%;
        padding: 10px 10px;
        font-size: 400%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px
    }
    #dice-heading{    
        font-size: 500%;
        margin-top: 15px;
        margin-bottom: 35px;
        text-align: center;
    }

    #reset {
        margin-bottom: 10px; 
        margin-left: 160px;   
        width: 25%;
        padding: 10px 10px;
        font-size: 400%;
        color: white;
        background-color: #D30606;
        transition-duration: 0.4s;
        border-radius: 16px 0px
}
}